.carousel-app .carousel-indicators,
.carousel-app .carousel-control-prev,
.carousel-app .carousel-control-next {
  display: none;
}
.info-app .btn-5,
.info-app .btn-5 *,
.info-app .btn-5 :after,
.info-app .btn-5 :before,
.info-app .btn-5:after,
.info-app .btn-5:before {
  border: 0 solid;
  box-sizing: border-box;
}
.info-app .btn-5 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: rgb(199, 5, 5);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.info-app .btn-5:hover {
  color: red;
}
.info-app .btn-5:disabled {
  cursor: default;
}
.info-app .btn-5:-moz-focusring {
  outline: auto;
}
.info-app .btn-5 svg {
  display: block;
}
.info-app .btn-5 [hidden] {
  display: none;
}
.info-app .btn-5 {
  border-radius: 99rem;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.info-app .btn-5 span {
  mix-blend-mode: hard-light;
}
.info-app .btn-5:before {
  --tilt: 1.2rem;
  background: #fff;
  -webkit-clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  clip-path: polygon(
    0 0,
    calc(100% - var(--tilt)) 0,
    100% 50%,
    calc(100% - var(--tilt)) 100%,
    0 100%
  );
  content: "";
  display: block;
  height: 100%;
  left: calc(-100% - var(--tilt));
  position: absolute;
  top: 0;
  transform: translateX(var(--progress, 0));
  transition: transform 0.2s ease;
  width: calc(100% + var(--tilt));
}
.info-app .btn-5:hover:before {
  --progress: 100%;
}
